<footer>
    <div class="icon-bar">
        <div class="icon-bar-content">
            <a href="https://github.com/jlbeard84" aria-label="Github">
                <i class="fab fa-github"></i>
            </a>

            <a href="https://www.linkedin.com/in/joshua-beard-3087ab31/" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>

            <a href="https://www.facebook.com/jlbeard84" aria-label="Facebook">
                <i class="fab fa-facebook"></i>
            </a>

            <a href="https://www.twitter.com/jlateralus" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</footer>